/* Fons start */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fons end */

/* Default start */
body{
    font-family: 'Playfair Display', serif;
    /* font-family: 'Oswald', sans-serif; */
    background-color: rgb(206, 206, 206)!important;
}
/* Default end */

/* header start */

header{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/header.jpg') bottom no-repeat;
    background-size: cover;
}

header h1{
    font-size: 7vmax;
    color: #c6be94;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

/* header end */

/* news start */
.news{
    background-color: #fff;
    padding: 50px 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
article{
    width: 60vmax;
    margin: 20px 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}
article:nth-child(2n){
    background-color: rgb(159, 90, 168);
}

article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}
article a:hover{
    color: #0085;
}
article h2{
    font-family: 'Oswald', sans-serif;
    font-size: 2vmax;
    margin-bottom: 5px;
}

article:nth-of-type(-n+2) a h2::after{
    content: 'NEW';
    color: rgb(243, 239, 9);
    font-size: .8vmax;
    vertical-align: top;
}

.article-meta{
    color: rgb(134, 140,156);
    margin: 15px 0;
}
article>img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
article>p{
    margin-top: 15px;
}
/* news end */

/* footer start */
footer{
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links{
    margin-bottom: 50px;
}

footer .links>a{
    color: #948a58;
    padding: 0 25px;
    font-size: .9vmax;
    font-weight: 600;
    letter-spacing: .1vmax;
    text-decoration: none;
    text-transform: uppercase;
}

footer .links>a:hover{
    color: #eecc20;
}

.copyright{
    font-family: 'Oswald', sans-serif;
    color: rgb(108, 117, 125);
}
/* footer end */